*{
    margin:0;
}
header{
    background-color: royalblue;
    color: white;
    text-align: center;
    padding: 25px;
    border-radius: 15px;
}
nav{
    background-color: deepskyblue;
    border-radius: 10px;
    margin: 20px 0;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 15px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin:20px;
}
.hero{
    background-color: lightcyan;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px gray;
}
.about{
    background-color: white;
    padding: 20px;
    margin: 25px 0;
    border-radius: 15px;
    box-shadow: 0 4px 10px gray;
}
.destination-card{
    background-color: lavender;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px gray;
    width: 250px;
}
.destinations{
    display: flex;
    justify-content: center;
    gap: 25px;
}
table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: royalblue;
    color: white;
}

td{
    background-color: white;
}

th,td{
    border: 2px solid lightgray;
    padding: 12px;
    text-align: center;
}
details{
    background-color: lightgoldenrodyellow;
    margin: 10px 0;
    padding: 12px;
    border-radius: 10px;
}
.review-card{
    background-color: honeydew;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px gray;
    width: 250px;
}
.reviews{
    display: flex;
    justify-content: center;
    gap: 20px;
}
figure{
    text-align: center;
}

img{
    width: 250px;
    height: 170px;
    border-radius: 15px;
    box-shadow: 0 4px 10px gray;
    margin: 10px;
}
button{
    background-color: royalblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 10px;
}
form{
    background-color: mintcream;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px gray;
}
.contact{
    background-color: lavenderblush;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px gray;
}
footer{
    background-color: midnightblue;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

footer a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
section{
    margin-bottom:30px;
}